{% extends "base.html" %}
{% load static tailwind_tags %}
            {% block content %}

                {% if user.is_authenticated %}
                    <a href="{% url 'trip_list'%}"><div class="bg-gray-200 p-2 hover:bg-gray-300 hover:cursor-pointer">
                        <p>Trip list</p>
                    </div></a>
                    <a href="{% url 'note_list'%}"><div class="bg-gray-200 p-2 hover:bg-gray-300 hover:cursor-pointer">
                        <p>Note list</p>
                    </div></a>
                {% else %}
                    <p class="text-gray-700">Welcome to Trip Track! Please <a href="{% url 'login' %}" class="text-blue-500 hover:underline">log in</a> or <a href="{% url 'signup' %}" class="text-green-500 hover:underline">register</a> to start tracking your trips and notes.</p>
                    <div class="bg-gray-200 p-2 hover:bg-gray-300 hover:cursor-pointer">
                    <p>TripTrack is a web application built for travelers who want to preserve their cherished memories or discover the adventures of others.
                        Users can store photos and videos, publish travel articles, and provide comprehensive reviews of destinations.</p>
                </div>

                {% endif %}
            {% endblock %}